/*基础样式*/
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	box-sizing: border-box;
}
/*产品标题*/
.title_bg{
	width: 100%;
	min-width: 1200px;
	height: 500px;
	margin-top:60px;
	background: url(../img/product_bg.jpg) no-repeat top center;
	background-size: cover;
}
.title_bg .shade{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	text-align: center;
	padding: 100px 0;
}
.title_bg .shade h1{
	line-height: 100px;
	font-size: 50px;
	font-weight: 100;
	color: #fff;
}
.title_bg .shade h2{
	line-height: 80px;
	color: white;
	font-weight: 100;
}

/*产品创新*/
.product_advantage{
	height: 878px;
}
.product_innovate,.product_advantage,.talents_technology{
	width: 100%;
	padding: 90px 0;
	overflow: hidden;
}
.product_innovate h1,.product_advantage h1,.talents_technology h1{
	text-align: center;
	color: #348CFF;
	font-size: 30px;
	
}
.product_innovate>p,.product_advantage>p,.talents_technology>p{
	text-align: center;
	color: #555;
	font-size:18px;
	line-height: 60px;
}
.product_innovate ul,.product_advantage ul,.talents_technology ul{
	width: 1200px;
	margin:0 auto;
	padding: 40px 0;
	/*overflow: hidden;*/
}
.product_innovate ul li,.talents_technology ul li{
	padding: 40px 0;
	width: 25%;
	float: left;
	text-align: center;
}
.product_innovate ul li h2,.product_advantage ul li h2{
	font-weight: 100;
	color: #333;
	line-height: 60px;
}
.product_innovate ul li p,.product_advantage ul li p,.talents_technology ul li p{
	color: #888;
	line-height: 26px;
}
.product_innovate ul li button{
	margin-top:20px;
	border: none;
	padding: 12px 30px;
	border-radius: 5px;
	cursor: pointer;
	background: #348CFF;
	font-size: 16px;
	color: white;
	font-weight: 600;
	border:1px solid #348CFF;
	-moz-transition: background-color 0.8s linear; 
	-ms-transition: background-color 0.8s linear; 
	-webkit-transition: background-color 0.8s linear; 
	-o-transition: background-color 0.8s linear; 
	transition: background-color 0.8s linear; 
}
.product_innovate ul li button:hover{
	background: transparent;
	color: #348CFF;
}
.product_innovate ul li{
	-moz-transition: box-shadow 0.5s linear; 
	-ms-transition: box-shadow 0.5s linear; 
	-webkit-transition: box-shadow 0.5s linear; 
	-o-transition: box-shadow 0.5s linear; 
	transition: box-shadow 0.5s linear; 
}
.product_innovate ul li:hover{
	-webkit-box-shadow: 0 0 1px #9B9B9B;
	-ms-box-shadow: 0 0 10px #9B9B9B;
	-webkit-box-shadow: 0 0 10px #9B9B9B;
	-o-box-shadow: 0 0 10px #9B9B9B;
	box-shadow: 0 0 10px #9B9B9B;
}

/*产品优点*/
.product_advantage{
	background: #F2F6FF;
}
.product_advantage ul li{
	padding: 30px 0;
	width: 33.333%;
	float: left;
	text-align: center;
	/*-moz-transition: background-color 0.8s linear; 
	-ms-transition: background-color 0.8s linear; 
	-webkit-transition: background-color 0.8s linear; 
	-o-transition: background-color 0.8s linear; 
	transition: background-color 0.8s linear; */	
}
.product_advantage ul li i{
	font-size: 70px;
	color: #348CFF;
	line-height: 100px;
}
/*.product_advantage ul li:hover{
	-webkit-box-shadow: 0 0 1px #9B9B9B;
	-ms-box-shadow: 0 0 10px #9B9B9B;
	-webkit-box-shadow: 0 0 10px #9B9B9B;
	-o-box-shadow: 0 0 10px #9B9B9B;
	box-shadow: 0 0 10px #9B9B9B;
}*/

/*网罗网络技术高端人才*/
.talents_technology{
	width: 100%;
}
.talents_technology ul li i{
	color: #437CD3;
	font-size: 70px;
	color: #348CFF;
	line-height: 100px;
}
/*动画效果*/
.transition{
	width:1200px;
	margin: 0 auto;
	transform: translateX(1800px);
	-ms-transform: translateX(1800px);		/* IE 9 */
	-webkit-transform: translateX(1800px);	/* Safari and Chrome */
	-o-transform: translateX(1800px);		/* Opera */
	-moz-transform: translateX(1800px);
	-moz-transition: all 0.8s ease-in-out; 
	-ms-transition: all 0.8s ease-in-out; 
	-webkit-transition: all 0.8s ease-in-out; 
	-o-transition: all 0.8s ease-in-out; 
	transition: all 0.8s ease-in-out;  
}
.transition.acitve{
	-ms-transform: translateX(0);		/* IE 9 */
	-webkit-transform: translateX(0);	/* Safari and Chrome */
	-o-transform: translateX(0);		/* Opera */
	-moz-transform: translateX(0);	
	transform: translateX(0);
}
.transition.acitve>p{	
	text-align: center;
	color: #555;
	font-size:18px;
	line-height: 60px;
}